<div class="wide-image<% if (typeof(parallax) != "undefined") { %> parallax<% } %>"<% if (typeof(background) != "undefined" || height != "undefined") { %> style="<% if (typeof(background) != "undefined") { %> background:<%= background %>;<% } %><% if (typeof(height) != "undefined") { %> height:<%= height %>;<% } %>"<% } %><% if (typeof(parallax) != "undefined") { %>data-speed="<%=parallax.speed%>"<% } %>>

</div>
