<div class="progresses container" <% if (typeof(background) != "undefined" || typeof(color) != "undefined") { %> style="<% if (typeof(background) != "undefined") { %> background:<%= background %>;<% } %><% if (typeof(color) != "undefined") { %> color:<%= color %>;<% } %>"<% } %>>

<h2><%=title%></h2>


<% if (typeof(intro) != "undefined") { %>
<div class="row">
	<%=intro%>
</div>
<% } %>

<div class="row">
	<div class="col-lg-4 col-md-4">
		<div class="well">

		</div>
	</div>
</div>

</div>
