.navbar {
	margin-bottom: 0;
	.navbar-header {
		img {
			margin-right: 10px;
		}
		h3 {
			display: inline-block;
			margin-top: 8px;
		}
	}
}


.navbar-nav {
	li {
		padding-top: 13px;
		padding-bottom: 13px;
		a {
		}
	}
}
